txt
fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
pydantic
email-validator
python-multipart
fpdf2
fastapi==0.115.0
uvicorn==0.30.0
gunicorn==23.0.0
sqlalchemy==2.0.31
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic==2.8.2
starlette==0.37.2
anyio==4.4.0
typing-extensions==4.12.2
click==8.1.7
idna==3.7
sniffio==1.3.1
email-validator==2.1.1
python-multipart==0.0.9